@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-whatsapp:before {
  content: "";
}

._icon-inst:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: white;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  padding-right: calc(20px + 143 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 143 * ((100vw - 320px) / 1600));
}

.title {
  color: #373737;
  font-family: Montserrat;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 110%;
}

.text {
  color: #ababab;
  line-height: 120%;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  text-align: left;
}

.subtitle {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.desc {
  color: #626262;
  line-height: 28px;
  font-size: 24px;
  font-family: Montserrat;
}

p {
  text-indent: 20px;
  margin-bottom: calc(10px + 8 * ((100vw - 320px) / 1600));
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: calc(4px + 3 * ((100vw - 320px) / 1600)) calc(8px + 8 * ((100vw - 320px) / 1600));
  background-color: #ff1a56;
  line-height: 120%;
  font-size: 16px;
  font-family: Montserrat;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.btn:visited {
  color: #fff;
}

.btn._fw {
  width: 100%;
}

.sign-btn {
  background-color: #25D366;
}

.sign-btn:before {
  padding-right: 5px;
}

.sign-btn a {
  display: inline;
}

.sign-btn a:after {
  content: "";
  height: 0;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

ul.dot {
  list-style-type: none;
}

ul.dot li {
  position: relative;
  padding: 0px 0px 10px 20px;
}

ul.dot li:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
  border-radius: 50%;
  background: #373737;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  color: #373737;
  font-family: Montserrat;
  text-align: left;
}

.table-f {
  display: table;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  color: #565656;
  font-family: Montserrat;
  text-align: left;
}

.table tr:nth-child(even) {
  background: #F8F8F8;
}

.table__head th {
  background: #F8F8F8;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

.cell a {
  display: inline-block;
}

.cell a:hover {
  color: black;
}

th {
  padding: 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: fixed;
  background-color: transparent;
  z-index: 10;
  -webkit-box-shadow: 0 2px 2px -2px white;
          box-shadow: 0 2px 2px -2px white;
  width: 100%;
  padding: 10px 0;
  /* .header__content */
  /* .header__top */
  /* .header__bottom */
}

.header._scroll {
  background-color: rgba(5, 5, 5, 0.8);
}

.top-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* .top-header__menu */
  /* .top-header__list */
  /* .top-header__link */
}

.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__list li {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.top-header__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__list li a:before {
  margin-right: 10px;
}

.bottom-header {
  width: 100%;
  padding-right: calc(10px + 265 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 265 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .bottom-header__menu */
  /* .bottom-header__logo */
}

.bottom-header__logo {
  height: 80px;
  width: 80px;
}

.bottom-header__logo img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.menu {
  /* .menu__icon */
  /* .menu__body */
  /* .menu__list */
  /* .menu__link */
  /* .menu__arrow */
  /* .menu__sub-list */
  /* .menu__sub-link */
}

.menu__body._active {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.menu__list li {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: white;
  line-height: 120%;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  margin-right: calc(5px + 65 * ((100vw - 320px) / 1600));
  padding: 10px 0;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__list li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: rgba(252, 178, 174, 0.85);
}

.menu__link:hover {
  color: #cacaca;
}

.menu__arrow {
  display: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  min-width: 200px;
  text-align: left;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-list li:hover {
  color: #cacaca;
}

html._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  margin: 0px 0px 0px 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html._touch .menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html._touch .menu__list li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

html._touch .menu__list li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

html._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.icon-menu {
  display: none;
}

.service {
  /* .service__container */
  /* .service__title */
  /* .service__items */
  /* .service__item */
}

.service__title {
  padding: 150px 0 60px;
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);
}

.service__title h1 {
  padding-right: calc(10px + 265 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 265 * ((100vw - 320px) / 1600));
  color: #000;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.service__item {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.service__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.title__bg {
  background-color: rgba(0, 250, 70, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* .item-service__body */
  /* .item-service__image */
  /* .item-service__content */
  /* .item-service__title */
  /* .item-service__spoller */
  /* .item-service__spoller-item */
  /* .item-service__show-more */
  /* .item-service__desc-more */
  /* .item-service__btn */
}

.item-service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-service__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.item-service__image img {
  border-radius: 6px;
}

.item-service__content {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.item-service__title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
}

.item-service__desc {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}

.item-service__show-more {
  text-decoration: underline;
}

.item-service__show-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.item-service__show-more._active {
  display: none;
}

.item-service__desc-more {
  display: none;
}

.item-service__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: calc(6px + 6 * ((100vw - 320px) / 1600)) calc(8px + 8 * ((100vw - 320px) / 1600));
}

.item-service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-service__card {
  background: #555555;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  margin: 0 20px 15px 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

footer {
  margin-top: 100px;
}

.error404 {
  /* .error404__content */
  /* .error404__title */
  /* .error404__subtitle */
  /* .error404__link */
}

.error404__content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 300px;
}

.error404__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.error404__subtitle {
  text-align: left;
  color: #373737;
}

.error404__link {
  color: black;
  text-decoration: underline;
}

._anim-up {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-up._active,
._active ._anim-up {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.content-more {
  overflow: visible;
  max-height: none;
  margin-left: 0;
}

.body-more {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-more {
  padding-bottom: 40%;
  margin-bottom: 30px;
}

.map {
  margin-top: 80px;
}

.mainslider {
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  /* .mainslider__body */
  /* .mainslider__slide */
  /* .mainslider__controls */
}

.mainslider__body {
  position: relative;
}

.mainslider__controls {
  position: absolute;
  top: 50%;
}

.slider__pagging {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 50%;
  z-index: 100;
}

.slide-mainslider {
  position: relative;
  min-height: 100vh;
  /* .slide-mainslider__content */
  /* .slide-mainslider__container */
  /* .slide-mainslider__title */
  /* .slide-mainslider__text */
  /* .slide-mainslider__background */
}

.slide-mainslider__content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: table;
  overflow: hidden;
  z-index: 2;
}

.slide-mainslider__container {
  display: table-cell;
  vertical-align: middle;
}

.slide-mainslider__title {
  margin-bottom: 10px;
  color: white;
  font-family: Montserrat;
  font-size: calc(40px + 40 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 118.75%;
  text-transform: uppercase;
}

.slide-mainslider__text {
  max-width: 500px;
}

.slide-mainslider__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f79ecd;
}

.slide-mainslider__background:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.control-mainslider {
  position: absolute;
  width: 100%;
  /* .control-mainslider__arrow_prev */
  /* .control-mainslider__arrow_next */
}

.control-mainslider__arrow_prev {
  position: absolute;
  background: url("../img/icons/p-left.svg") no-repeat;
  z-index: 3;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.control-mainslider__arrow_next {
  position: absolute;
  background: url("../img/icons/p-right.svg") right no-repeat;
  z-index: 3;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.services {
  z-index: 1;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  /* .services__title */
  /* .services__content */
  /* .services__card */
}

.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  font-size: calc(22px + 10 * ((100vw - 320px) / 1600));
  line-height: 118.75%;
  font-weight: 600;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.card {
  position: relative;
  height: calc(100px + 356 * ((100vw - 320px) / 1600));
  overflow: hidden;
  /* .card__bg */
  /* .card__desc */
  /* .card__link */
}

.card:hover .card__bg img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.card:hover .card__bg:after {
  background: rgba(0, 0, 0, 0.2);
}

.card:hover .card__desc {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.card:hover .card__link {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.card__bg {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f79ecd;
}

.card__bg img {
  overflow: hidden;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.card__bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.card__desc {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: calc(8px + 22 * ((100vw - 320px) / 1600)) calc(12px + 28 * ((100vw - 320px) / 1600));
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.card__link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  line-height: 120%;
  font-family: Montserrat;
  background-color: #ff1a56;
  padding: calc(4px + 11 * ((100vw - 320px) / 1600)) calc(8px + 12 * ((100vw - 320px) / 1600));
  color: #fff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.about {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-bottom: 200px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  /* .about__content */
  /* .about__title */
  /* .about__text */
  /* .about__bg */
}

.about__content {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: calc(100vh - 120px);
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.about__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__text {
  margin-top: calc(20px + 45 * ((100vw - 320px) / 1600));
  width: 40%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #202020;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
}

.about__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f79ecd;
}

.whyus {
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  /* .whyus__content */
  /* .whyus__title */
  /* .whyus__row */
}

.whyus__content {
  padding: 130px 0;
}

.whyus__title {
  font-size: calc(34px + 12 * ((100vw - 320px) / 1600));
  line-height: 104.347826087%;
  font-family: Montserrat;
  font-weight: 800;
  color: #343434;
  margin-bottom: 50px;
}

.row-whyus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* .row-whyus__item */
  /* .row-whyus__title */
  /* .row-whyus_link */
}

.row-whyus__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 30px;
}

.row-whyus__title {
  margin-bottom: 10px;
  color: #343434;
  font-size: calc(22px + 4 * ((100vw - 320px) / 1600));
  font-weight: normal;
}

.row-whyus__title a {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.row-whyus__link:before {
  display: inline;
  padding-right: 8px;
}

@media (min-width: 992px) {
  .btn:hover {
    color: black;
  }
}

@media (max-width: 991.98px) {
  .image-more {
    padding-bottom: 50%;
  }
}

@media (max-width: 768.98px) {
  .menu__body {
    position: fixed;
    text-align: left;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 30px 30px 30px;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list li {
    margin-right: 0;
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 1600));
    font-size: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__sub-list {
    position: relative;
    left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 15px 0px 0px 0px;
    display: none;
    background-color: inherit;
  }

  html._touch .menu__list li._active .menu__sub-list {
    display: block;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 51px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .services__content {
    display: block;
  }

  .card {
    height: 50vh;
  }

  .card__desc {
    padding: 35px 40px;
  }

  .card__link {
    padding: 18px 20px;
  }

  .row-whyus__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .row-whyus__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 479.98px) {
  .slide-mainslider__content {
    padding: 0 10px;
  }

  .control-mainslider__arrow_prev {
    left: 3px;
  }

  .control-mainslider__arrow_next {
    right: 3px;
  }

  .card__desc {
    padding: 20px 30px;
  }

  .card__link {
    padding: 10px 15px;
  }

  .about__content {
    padding-top: 65px;
  }

  .about__text {
    width: 80%;
  }
}

@media (max-width: 370px) {
  .table {
    table-layout: fixed;
    width: 100%;
  }

  .table-f {
    table-layout: fixed;
    width: 100%;
  }

  .cell.full {
    width: unset;
  }
}

@media (any-hover: hover) {
  .row-whyus__title a:hover {
    color: #ff1a56;
  }
}